<h2>Marketplace</h2>
<select (change)="onChange($event.target.value)">
   <option value="allProjects">All Projects</option>
   <option value="lowFunds">Low fund projects</option>
   <option value="highFunds" selected="selected">High fund projects</option>
 </select>
<br>
<br>
<div *ngFor="let project of projects | async | budgetness:filterByBudgetness" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(project)"><em>{{project.title}}</em> by {{project.manager}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      <hr>
      <app-edit-project [selectedProject]="project"></app-edit-project>
  </div>
</div>
</div>
<hr>
<h3>Add New Project to the list</h3>
<div>
  <div>
    <label>Project Title:</label>
    <br>
    <input #newTitle>
  </div>

  <div>
    <label>Project Manager:</label>
    <br>
    <input #newManager>
  </div>

  <div>
    <label>Project Description:</label>
    <br>
    <textarea #newDescription></textarea>
  </div>
  <div>
    <label>Project fund goal:</label>
    <br>
    <textarea #newGoal></textarea>
  </div>
  <button (click)="submitForm(newTitle.value, newManager.value, newDescription.value, newGoal.value); newTitle.value=''; newManager.value=''; newDescription.value=''; newGoal.value=''">Add</button>
</div>
